<div class="mt-4">
  <label class="block text-sm font-medium text-gray-700 mb-2" for="plus1-diet"
         data-headlessui-state="">Do they have any dietary restrictions?</label>
  <select #dietSelect id="plus1-diet" class="bg-gray-200 border-gray-200 placeholder-gray-200 text-gray-900 focus:outline-none
            focus:ring-1 focus:ring-indigo-300 focus:border-indigo-300 border text-sm rounded-lg block w-full p-2.5"
          (change)="onSelectItem($event)"
  >
    <option selected value="none">Select dietary restriction</option>
    <option value="Vegetarian">Vegetarian</option>
    <option value="Gluten">Gluten Free</option>
    <option value="Kosher">Kosher</option>
  </select>
</div>
