<div *transloco="let t;">
  <owl-carousel-o>
    <ng-template carouselSlide>
      <app-additional-item [title]="t('additionalInfo.card1.title')"
                           [content]="t('additionalInfo.card1.description')"></app-additional-item>
    </ng-template>
    <ng-template carouselSlide>
      <app-additional-item [title]="t('additionalInfo.card2.title')"
                           [content]="t('additionalInfo.card2.description')"></app-additional-item>
    </ng-template>
    <ng-template carouselSlide>
      <app-additional-item [title]="t('additionalInfo.card3.title')"
                           [content]="t('additionalInfo.card3.description')"></app-additional-item>
    </ng-template>
    <ng-template carouselSlide>
      <app-additional-item [title]="t('additionalInfo.card4.title')"
                           [content]="t('additionalInfo.card4.description')"></app-additional-item>
    </ng-template>
    <ng-template carouselSlide>
      <app-additional-item [title]="t('additionalInfo.card5.title')"
                           [content]="t('additionalInfo.card5.description')"></app-additional-item>
    </ng-template>

  </owl-carousel-o>
</div>
