<div *transloco="let t;" class="relative">
  <ngx-tcarousel [itemCount]="5" [showHandles]="false" [interval]="10000">
    <div class="carousel-cell">
      <app-additional-item [title]="t('additionalInfo.card1.title')"
                           [content]="t('additionalInfo.card1.description')"></app-additional-item>
    </div>
    <div class="carousel-cell">
      <app-additional-item [title]="t('additionalInfo.card1.title')"
                           [content]="t('additionalInfo.card1.description')"></app-additional-item>
    </div>
    <div class="carousel-cell">
      <app-additional-item [title]="t('additionalInfo.card1.title')"
                           [content]="t('additionalInfo.card1.description')"></app-additional-item>
    </div>
    <div class="carousel-cell">
      <app-additional-item [title]="t('additionalInfo.card1.title')"
                           [content]="t('additionalInfo.card1.description')"></app-additional-item>
    </div>
    <div class="carousel-cell">
      <app-additional-item [title]="t('additionalInfo.card1.title')"
                           [content]="t('additionalInfo.card1.description')"></app-additional-item>
    </div>
  </ngx-tcarousel>
</div>
