<label class="flex items-center justify-between gap-2">
  <div class="flex-grow flex flex-col" for="plus1">
              <span class="text-sm font-medium text-gray-900"
                    id="headlessui-label-:r2:">{{ title }}</span>
    <span class="text-sm text-gray-500"
          id="headlessui-description-:r3:">{{ text }}</span>
  </div>
  <div class="inline-flex items-center cursor-pointer">
    <input #checkboxEl id="plus1" type="checkbox" value="" class="sr-only peer" (change)="onChecked($event)">
    <div
      class="relative w-9 h-5 bg-amber-50 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-200
      dark:peer-focus:ring-white rounded-full peer dark:bg-gray-200 peer-checked:after:translate-x-full
       rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute
        after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full
        after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-orange-100"></div>
  </div>
</label>
