@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
}

.section-bg {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.fancy-text {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

.circle {
  border-radius: 50%;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.d.ng-star-inserted {
  display: none !important;
}
