@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.items-slide {
  animation: 75s slide infinite linear;
}

@media (min-width: 768px) {
  .items:hover {
    .items-slide {
      animation-play-state: paused;
    }
  }
}
