<section class="flex flex-col w-full items-center my-20">
  <h1 class="block text-4xl text-white fancy-text">ᐧ Additional information ᐧ</h1>
  <div
    class="mt-6 md:mt-12 max-w-lg mx-auto grid lg:grid-cols-3 lg:max-w-none divide-x divide-black/10 shadow-xl bg-gray-200">
    <app-additional-item title="Getting There" content="The Lorenz venue is located just an hour away from
        Vienna, and is well connected by road and rail"></app-additional-item>
    <app-additional-item title="Accommodation" content="As a popular destination, the Wachau valley offers a
        wide range of accommodation options"></app-additional-item>
    <app-additional-item title="Discover Wachau" content="Known for its stunning landscapes and picturesque
        villages, Wachau has a lot to offer"></app-additional-item>
  </div>
</section>
