<div class="flex justify-center text-indigo-950">
  <div
    class="flex justify-center w-full md:w-9/12 max-w-4xl mb-10 px-5 py-10 shadow-md bg-orange-300 shadow-orange-300/50 rounded desktop-card">
    <div class="flex flex-col items-center md:w-4/5">
      <div class="mb-5">
        <img ngSrc="assets/images/dance.png" height="50" width="50" alt="wedding image">
      </div>
      <div class="mb-5">
        <h2 class="text-2xl">DANCE, DANCE, DANCE</h2>
      </div>
      <div>
        <p class="text-sm leading-none text-justify">It would be Diana's and my pleasure to invite you to our wedding
          celebration this summer!</p>
      </div>
      <div class="my-5 w-80 border-t border-indigo-950"></div>
      <div class="flex flex-row justify-around w-full">
        <div class="flex-1 flex-col">
          <h3 class="text-lg">Where?</h3>
          <p>Serenity Resort, Codlea</p>
          <p>Braşov, Romania</p>
        </div>
        <div class="flex h-full items-center">
          <div class="w-2 h-2 circle bg-indigo-950"></div>
        </div>
        <div class="flex-1 flex-col text-end">
          <h3 class="text-lg">When?</h3>
          <p>4:00PM - ?</p>
          <p>June 23rd, 2024</p>
        </div>
      </div>
    </div>
  </div>
</div>
