<section class="flex justify-center text-gray-800 py-20 z-30">
  <div
    class="flex justify-center w-full md:w-9/12 max-w-3xl px-5 pb-20 shadow-md bg-white shadow-white/50 desktop-card">
    <div class="flex flex-col items-center md:w-3/5">
      <div class="mt-20 mb-10">
        <img ngSrc="assets/images/dance.png" height="50" width="50" alt="wedding image">
      </div>
      <div class="mb-10">
        <h2 class="text-2xl">DANCE, DANCE, DANCE!</h2>
      </div>
      <div>
        <p class="text-sm leading-none text-justify">It is our pleasure to invite you to our wedding
          celebration this summer!</p>
      </div>
      <div class="my-10 w-80 border-t border-gray-800"></div>
      <div class="flex flex-row justify-around w-full">
        <div class="flex-1 flex-col">
          <div class="flex flex-row">
            <img class="mr-2" ngSrc="assets/images/wedding-location.png" height="28" width="28" alt="location">
            <h3 class="text-xl">Where?</h3>
          </div>
          <p>Serenity Resort, Codlea</p>
          <p>Braşov, Romania</p>
        </div>
        <div class="flex h-full items-center">
          <div class="w-2 h-2 circle bg-gray-800"></div>
        </div>
        <div class="flex-1 flex-col text-end">
          <div class="flex flex-row justify-end">
            <img class="mr-2" ngSrc="assets/images/clock.png" height="28" width="28" alt="location">
            <h3 class="text-xl">When?</h3>
          </div>
          <p>4:00PM - ?</p>
          <p>June 23rd, 2024</p>
        </div>
      </div>
      <div class="my-10 w-80 border-t border-gray-800"></div>
      <div class="flex flex-col items-center w-full">
        <div class="mb-10">
          <img ngSrc="assets/images/cheers.png" height="50" width="50" alt="dance image">
        </div>
        <h2 class="text-3xl">ᐧ Wedding schedule ᐧ</h2>
        <h2 class="text-xl">4:00PM (Romanian time)</h2>
        <p class="text-md">Starting at 4PM - open END</p>
        <p class="text-sm">4-course menu</p>
      </div>
    </div>
  </div>
</section>
