<section class="flex justify-center my-20 md:my-40 text-gray-800">
  <div class="w-full md:w-9/12 max-w-[90%] md:max-w-4xl relative">
  <div
    class="flex justify-center w-full shadow-md bg-white shadow-white/50 box flower-background">
    <div class="flex flex-col items-center md:w-3/5 px-6 py-6 md:py-40">
      <div class="mb-10 md:mt-20 mb-10">
        <h2 class="fancy-text text-2xl" > DIANA & ANDY</h2>
      </div>
      <div>
        <p class="text-md leading-none text-justify mb-4">{{ 'card.text' | transloco }}</p>
      </div>
      <div class="mb-10">
        <h2 class="fancy-text text-4xl md:text-5xl">{{ 'card.title' | transloco }}</h2>
      </div>
      <div>
        <p class="text-2xl font-black leading-none text-justify mb-6">{{ 'card.seeYouThere' | transloco }}</p>
      </div>
      <div class="mb-20">
        <p class="text-lg leading-none text-center mb-10 mx-10">{{ 'card.dateAndLocation' | transloco }}</p>
      </div>
      <div>
        <p class="text-3xl leading-none text-center mb-6 mx-10">RSVP</p>
      </div>
      <div>
        <p class="text-md leading-none text-center mb-10 mx-10">{{ 'card.confirm' | transloco }}</p>
      </div>
    </div>
  </div>
  </div>
</section>
