.box:after {
  background: linear-gradient(90deg, #e8deab, #cbb480);
  bottom: -.5em;
  content: "";
  height: .5em;
  left: 0;
  position: absolute;
  width: 100%;
}

.flower-background {
  @media(min-width: 764px) {
    background-image: url("../../assets/images/frame.png");
  }
  background-image: url("../../assets/images/frame-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}
