<section class="flex justify-center text-white w-full">
  <div class="flex flex-col w-full container">
    <div class="flex justify-center mb-5">
      <h2 class="fancy-text text-4xl">Diana & Andy</h2>
    </div>
    <div class="flex flex-col md:flex-row justify-around text-center">
      <div class="flex-1 mb-5 md:mb-0">
        <h3 class="text-xl">ᐧ {{ 'footer.callUs' | transloco }} ᐧ</h3>
        <a href="tel:+40 735747637">+40 735747637</a>
      </div>
      <div class="flex-1 mb-5 md:mb-0">
        <h3 class="text-xl">ᐧ {{ 'footer.textUs' | transloco }} ᐧ</h3>
        <a href="tel:+40 735747637">+40 735747637</a>
      </div>
      <div class="flex-1">
        <h3 class="text-xl">ᐧ {{ 'footer.emailUs' | transloco }} ᐧ</h3>
        <a href="mailto:radulescu.eduard.andrei@gmail.com">radulescu.eduard.andrei&#64;gmail.com</a>
      </div>
    </div>
  </div>
</section>
