.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../../assets/images/amalfiCoast.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .hero-image {
      animation: hero-image-animation linear forwards;
      animation-timeline: view();
      animation-range: exit;
    }
    .header-content {
      animation: fade-out linear;
      animation-timeline: view();
      animation-range: exit;
    }
    @keyframes fade-out {
      75%, 100% {
        opacity: 0
      }
    }

    @keyframes hero-image-animation {
      25% {
        opacity: 1
      }
      85%, 100% {
        opacity: 0;
        scale: 3;
      }
    }
  }
}
