<section class="flex justify-center mb-20 md:mb-40 -mt-20 text-gray-800">
  <div
    class="flex justify-center w-full md:w-9/12 max-w-[90%] md:max-w-4xl shadow-md bg-white shadow-white/50 px-6 md:py-6">
    <div class="grid md:grid-cols-2 gap-5 w-full">
      <div class="flex flex-col items-center justify-center h-full background-image -mx-6 md:mx-0 py-40">
        <h1 class="text-5xl fancy-text">RSVP</h1>
        <div class="mx-auto text-center text-main text-lg max-w-[250px] px-2 mt-10">
          <h1 class="text-xl">Please confirm your attendance prior to <span
            class="underline">1<sup>st</sup> of June</span></h1>
        </div>
      </div>

      <form class="w-full mx-auto text-main" [formGroup]="rsvpForm" (ngSubmit)="onSubmit()">
        <div>
          <div>
            <label for="your-name" class="block text-sm font-medium text-gray-700"
                   [ngClass]="{'text-red-600':rsvpForm.controls.name.errors && rsvpForm.controls.name.touched}">Name</label>
            <input
              [formControl]="rsvpForm.controls.name"
              class="outline-none w-full block bg-transparent border-b border-b-black/10 py-2 pr-[0.3rem]"
              id="your-name"
              [ngClass]="{'text-red-600':rsvpForm.controls.name.errors && rsvpForm.controls.name.touched}"
              name="your-name" type="text" autocomplete="name" placeholder="" value="">
          </div>
          <div class="mt-4">
            <label for="email-address" class="block text-sm font-medium text-gray-700"
                   [ngClass]="{'text-red-600':rsvpForm.controls.email.errors && rsvpForm.controls.email.touched}">Email</label>
            <input
              [formControl]="rsvpForm.controls.email"
              class="outline-none w-full block bg-transparent border-b border-b-black/10 py-2 pr-[0.3rem]"
              [ngClass]="{'text-red-600':rsvpForm.controls.email.errors && rsvpForm.controls.email.touched}"
              id="email-address" name="email-address" autocomplete="email" type="email" value="">
          </div>
          <div class="mt-4">
            <label for="whatsapp-address" class="block text-sm font-medium text-gray-700"
                   [ngClass]="{'text-red-600':rsvpForm.controls.phoneNumber.errors && rsvpForm.controls.phoneNumber.touched}">WhatsApp</label>
            <input
              [formControl]="rsvpForm.controls.phoneNumber"
              class="outline-none w-full block bg-transparent border-b border-b-black/10 py-2 pr-[0.3rem]"
              [ngClass]="{'text-red-600':rsvpForm.controls.phoneNumber.errors && rsvpForm.controls.phoneNumber.touched}"
              id="whatsapp-address" inputmode="numeric" name="whatsapp-address" autocomplete="tel" type="tel"
              value="">
          </div>
          <div class="mt-4">
            <app-switch title="Are you bringing a plus one?" text="If you are, please let us know their name."
                        [formControl]="rsvpForm.controls.plus1"></app-switch>
            <div *ngIf="rsvpForm.controls.plus1.value === true">
              <label for="name-plus1" class="block text-sm font-medium text-gray-700 mt-2">Name</label>
              <input [formControl]="rsvpForm.controls.plus1Name"
                     class="outline-none w-full block bg-transparent border-b border-b-black/10 py-2 pr-[0.3rem]"
                     id="name-plus1" name="info" type="text" value="">
            </div>
          </div>
          <div class="mt-4">
            <app-switch title="Are you bringing kids?" text="If you are, please let us know their names and ages."
                        [formControl]="rsvpForm.controls.kids"></app-switch>
            <div *ngIf="rsvpForm.controls.kids.value === true">
              <label for="name-kids" class="block text-sm font-medium text-gray-700 mt-2">Names and ages</label>
              <input [formControl]="rsvpForm.controls.kidsName"
                     class="outline-none w-full block bg-transparent border-b border-b-black/10 py-2 pr-[0.3rem]"
                     id="name-kids"
                     name="info" type="text" value="">
            </div>
          </div>
          <div class="mt-4">
            <label class="block text-sm font-medium text-gray-700 mb-2" id="headlessui-listbox-label-:r8:"
                   data-headlessui-state="">Do you have any dietary restrictions?</label>
            <select id="countries" class="bg-gray-200 border-gray-200 placeholder-gray-200 text-gray-900 focus:outline-none
            focus:ring-1 focus:ring-indigo-300 focus:border-indigo-300 border text-sm rounded-lg block w-full p-2.5"
                    [formControl]="rsvpForm.controls.diet"
            >
              <option selected value="none">Select dietary restriction</option>
              <option value="Vegetarian">Vegetarian</option>
              <option value="Gluten">Gluten Free</option>
              <option value="Kosher">Kosher</option>
            </select>
          </div>
          <div class="mt-4">
            <label for="info" class="block text-sm font-medium text-gray-700">Anything else we should know?</label>
            <input [formControl]="rsvpForm.controls.anythingElse"
                   class="outline-none w-full block bg-transparent border-b border-b-black/10 py-2 pr-[0.3rem]"
                   id="info"
                   name="info" type="text" value="">
          </div>
        </div>
        <button type="submit"
                class="w-full mb-4 md:mb-0 mt-6 bg-gray-200 border border-transparent shadow-sm py-2 px-4 text-sm
              font-medium text-black hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main-tint">
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
