<section class="flex justify-center mb-20 md:mb-40 -mt-20 text-gray-800">
  <div
    class="flex justify-center w-full md:w-9/12 max-w-[90%] md:max-w-4xl shadow-md bg-white shadow-white/50 px-6 md:py-6">
    <div class="grid md:grid-cols-2 gap-5 w-full">
      <div class="flex flex-col items-center justify-center h-full -mx-6 md:mx-0 py-40 bg-orange-50">
        <h1 class="text-5xl fancy-text">- RSVP -</h1>
        <div class="mx-auto text-center text-main text-lg max-w-[250px] px-2 mt-10">
          <h1 class="text-xl" [innerHTML]="'rsvp.confirm' | transloco"></h1>
        </div>
      </div>

      <ng-container>
        <form class="w-full mx-auto text-main relative" [formGroup]="rsvpForm" (ngSubmit)="onSubmit()"
              *transloco="let t;">
          <div *ngIf="isSubmitted" class="w-full h-full absolute bg-white z-20 flex flex-col justify-center"
               [@divAnimation]>
            <div class="w-full flex justify-center mb-6">
              <img src="assets/images/check.png" width="60" height="60">
            </div>
            <div class="w-full flex justify-center text-lg">
              <ng-container *ngIf="rsvpForm.controls.coming.value === true">
                <p> {{ t('rsvp.seeYou') }}</p>
              </ng-container>
              <ng-container *ngIf="rsvpForm.controls.coming.value === false">
                <p> {{ t('rsvp.cancel') }}</p>
              </ng-container>
            </div>
          </div>
          <div>
            <app-input [formControlInput]="rsvpForm.controls.name" [displayText]="t('rsvp.name')" type="text"
                       autocomplete="name"></app-input>
            <div class="mt-4">
              <app-switch [title]="t('rsvp.coming.title')" [text]="t('rsvp.coming.description')"
                          [formControl]="rsvpForm.controls.coming"></app-switch>
            </div>
            <div *ngIf="rsvpForm.controls.coming.value === true">
              <app-diet-selector [formControl]="rsvpForm.controls.plus1.controls.plus1Diet"></app-diet-selector>
              <app-diet-selector [formControl]="rsvpForm.controls.myDiet"></app-diet-selector>
              <div class="mt-4">
                <app-switch [title]="t('rsvp.plus1.title')" [text]="t('rsvp.plus1.description')"
                            [formControl]="rsvpForm.controls.plus1Enabled"></app-switch>
                <div *ngIf="rsvpForm.controls.plus1Enabled.value === true">
                  <app-input [formControlInput]="rsvpForm.controls.plus1.controls.plus1Name"
                             [displayText]="t('rsvp.name')" type="text" autocomplete="name"></app-input>
                  <app-diet-selector [formControl]="rsvpForm.controls.plus1.controls.plus1Diet"></app-diet-selector>
                </div>
              </div>
              <div class="mt-4">
                <app-switch [title]="t('rsvp.kids.title')" [text]="t('rsvp.kids.description')"
                            [formControl]="rsvpForm.controls.kidsEnabled"></app-switch>
                <div *ngIf="rsvpForm.controls.kidsEnabled.value === true">
                  <app-input [formControlInput]="rsvpForm.controls.kids.controls.kidsName"
                             [displayText]="t('rsvp.kids.names+ages')" type="text" autocomplete="name"></app-input>
                </div>
              </div>
              <app-input [formControlInput]="rsvpForm.controls.anythingElse"
                         [displayText]="t('rsvp.anythingElse')" type="text"></app-input>
            </div>
          </div>
          <button type="submit" [@buttonAnimation]
                  class="w-full mb-4 md:mb-0 mt-6 bg-orange-50 border border-transparent shadow-sm py-2 px-4 text-sm
              font-medium text-black hover:bg-orange-100 ring-amber-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-main-tint">
            {{ t('rsvp.submit') }}
          </button>
        </form>
      </ng-container>
    </div>
  </div>
</section>
